body{
  background-color: rgb(236, 159, 236);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


#texto {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

#janela {
  width: 300px;
  height: 350px;
  background-image: url('./imgs/close.svg');
  display: flex;
  align-items: center;
  justify-content: center;
}